/* Gmarket Sans */
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gmarket Sans';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Paperlogy */
@font-face {
  font-family: 'Paperlogy';
  src: url('./Paperlogy-1Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Paperlogy';
  src: url('./Paperlogy-2ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Paperlogy';
  src: url('./Paperlogy-3Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Paperlogy';
  src: url('./Paperlogy-4Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Paperlogy';
  src: url('./Paperlogy-5Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Paperlogy';
  src: url('./Paperlogy-6SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Paperlogy';
  src: url('./Paperlogy-7Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Paperlogy';
  src: url('./Paperlogy-8ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Paperlogy';
  src: url('./Paperlogy-9Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

/* css 드래그 이벤트 차단 */
.disableDrag {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.grecaptcha-badge{
    visibility: hidden;
}

* {
    transition: 0.3s;
}

/* header */
#header {
    width: 100%;
    display: flex;
    height: 80px;
    box-sizing: border-box;
    padding: 0px 40px;
    justify-content: center;
    align-items: center;
    background: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 45;
}

.logo {
    width: 170px;
    position: absolute;
    left: 40px;
    cursor: pointer;
}

#header nav {
    overflow: hidden;
    margin: 0;
    height: 100%;
}

#header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#header nav>ul>li {
    display: flex;
    box-sizing: border-box;
    padding: 8px 30px;
    justify-content: center;
    align-items: center;
    font-family: "GmarketSansMedium";
    color:#BEB8AE;
    font-size: 20px;
    line-height: 120%; /* 24px */
    letter-spacing: -0.5px;
    cursor: pointer;
}

#header nav>ul>li:hover, .tap {
    color: #F0832C !important;
}

.mo-menu-open {
    display: none;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    padding: 8px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    background: transparent;
}

.mo-menu-open:hover {
    background: rgba(255, 255, 255, 0.10);
}

.call {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    gap: 4px;
    color: #FFF;
    text-align: right;
    font-family: "Gmarket Sans";
    font-size: 20px;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: -0.5px;
}

.call:hover {
    color: #FFF;
}

#header .call {
    display: none;
}

.mo-menu .call {
    font-size: 24px;
    font-weight: 500;
    line-height: 34px; /* 141.667% */
    letter-spacing: -0.6px;
}

.mo-menu {
    width: 100%;
    height: 100%;
    display: none;
    background: rgba(55, 55, 55, 0.70);
    backdrop-filter: blur(10px);
    position: fixed;
    left: 0;
    z-index: 101;
}

.mo-menu-top {
    height: 66px;
    box-sizing: border-box;
    padding: 0px 16px;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: 10px;
}

.mo-menu-bottom {
    width: 100%;
    height: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.menu-close {
    display: flex;
    width: 34px;
    height: 34px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: transparent;
    cursor: pointer;
}

.mo-menu nav {
    width: 100%;
}

.mo-menu nav>ul>li {
    width: 100%;
    color: rgba(255, 255, 255, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.4px;
    box-sizing: border-box;
    height: 60px;
    padding: 8px 16px;
    cursor: pointer;
    display: flex;
    justify-content: end;
    align-items: center;
}

.mo-menu nav>ul>li>span {
    box-sizing: border-box;
    padding: 8px 15px;
    border-radius: 100px;
}

.mo-menu nav>ul>li:hover,.mo-menu .tap {
    color: #F0832C !important;
    background: transparent !important;
}

/* footer */
footer {
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.20);
    background: #F0832C;
    display: flex !important;
    padding: 65px 0 105px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
}

.footer-big-container {
    display: flex;
    max-width: 1280px;
    width: 100%;
    box-sizing: border-box;
    padding: 0px 20px;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-container {
    display: flex;
    gap: 56px;
    align-items: flex-start;
}

.footer-logo {
    width: 222px;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer-wrapper>p {
    color: #FFF;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 20.8px */
}

.footer-big-container>p {
    display: none;
}

.footer-wrap {
    display: flex;
    align-items: center;
}

.footer-div, .footer-inner>p {
    box-sizing: border-box;
    display: flex;
    color: rgba(255, 255, 255, 0.70);
    font-size: 16px;
    line-height: 130%; /* 20.8px */
    letter-spacing: -0.4px;
    align-items: center;
}

.footer-div:first-child {
    padding-right: 10px;
}

.footer-big-div {
    display: flex;
    align-items: center;
}

.footer-big-div .footer-div:first-child {
    padding: 0 10px;
    height: 15px;
    border-left: 1px solid rgba(255, 255, 255, 0.70);
    border-right: 1px solid rgba(255, 255, 255, 0.70);
}

.footer-div:last-child {
    padding-left: 10px;
}

.footer-inner {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
}

.footer-right {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.footer-right>p:first-child {
    display: flex;
    gap: 5px;
    align-items: center;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px; /* 150% */
    letter-spacing: -0.4px;
}

.footer-right>p:last-child {
    color: #FFF;
    font-family: "Gmarket Sans";
    font-size: 24px;
    line-height: 34px; /* 141.667% */
    letter-spacing: -0.6px;
}

.up-btn {
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    width: 70px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFF;
    border: 1px solid #FFF;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.10);
    z-index: 5;
}

.up-btn:hover {
    border: 1px solid #FFF;
    background: #E87519;
}

.up-btn:hover svg path {
    fill: #FFF;
}


/* 하단 고정 문의 */
#floating-container {
    width: 100%;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 45;
    background: #F0832C;
    padding: 3px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s all;
    box-sizing: border-box;
    padding: 3px 10px;
}

.floating-wrap {
    max-width: 1280px;
    width: 100%;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: -2px;
    margin-right: -2px;
    transition: 1s all;
}

.floating-form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    position: relative;
    transition: 0.1s all;
}

.floating-form>p {
    color: #FFF;
    font-family: "Gmarket Sans";
    font-size: 24px;
    line-height: 125%; /* 30px */
    letter-spacing: -0.6px;
}

.floating-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.input-wrap {
    display: flex;
    align-items: center;
    gap: 10px;
}

.floating-contact input[type="text"], select {
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.90);
    display: flex;
    width: 200px;
    box-sizing: border-box;
    padding: 8px 10px;
    align-items: center;
    color: #111;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: -0.5px;
    border: none;
}

select {
    color: rgba(34, 34, 34, 0.50);
    font-size: 16px !important;
    line-height: 24px !important;
    font-weight: 400;
    letter-spacing: -0.4px;
    padding: 11.5px 10px;
}

.floating-contact input[type="text"]:focus {
    background: #FFF;
}

.floating-contact input[type="text"]::placeholder, select {
    color: rgba(10, 24, 69, 0.50);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: -0.4px;
}

option {
    color: #111;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.4px;
}

.floating-form-wrap {
    display: flex;
    align-items: center;
    gap: 16px;
}

.floating-agree-wrap {
    display: flex;
    align-items: center;
    gap: 8px;
}

.floating-agree-wrap .round-checkbox {
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 50px;
    appearance: none;
    position: relative;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.90);
    border: 1px solid #DDD;
}

.floating-agree-wrap .round-checkbox:checked::before {
    font-size: 100%;
    color: #fff;
    position: relative;
}

.floating-agree-wrap .round-checkbox:checked {
    background-image: url("../img/check.png");
    background-size: 15px !important;
    background-position: center center !important;
    background-color: #FFF;
    background-repeat: no-repeat;
    border: none;
}

.floating-agree-wrap .agree {
    color: #FFF;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: normal;
    letter-spacing: -0.28px !important;
    cursor: pointer;
}

.floating-agree-wrap .agree-open {
    font-weight: 600;
}

.f-btn {
    display: flex;
    height: 42px;
    box-sizing: border-box;
    padding: 0px 36px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #562A06;
    color: #FFF;
    font-family: "GmarketSansMedium";
    font-size: 18px;
    letter-spacing: -0.45px;
    border: none;
}

.f-btn:hover {
    background: #351800;
}

.floating-tit {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    color: #19493B;
    text-align: center;
    font-family: "SF_HambakSnow";
    font-size: 18px;
    line-height: 125%; /* 22.5px */
    letter-spacing: -0.45px;
    flex-shrink: 0;
    cursor: pointer;
    box-sizing: border-box;
    padding-right: 10px;
}

.rotate-180 {
    transform: rotate(180deg);
    transition: transform 0.8s ease-in-out;
}


/* 하단 고정 문의(모바일) */
#floating-mo-container {
    background: #EFE4CB;
    display: none;
    width: 100%;
    height: 50px;
    padding: 0px 10px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    color: var(--1, #19493B);
    font-family: "SF_HambakSnow";
    font-size: 16px;
    line-height: 34px; /* 212.5% */
    letter-spacing: -0.4px;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 45;
}

.floating-mo-form {
    width: 100%;
    background: #F1EBE7;
    display: none;
    box-sizing: border-box;
    padding: 10px 5px;
    /* transform: translateY(100%); */
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 45;
}

.mo-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.mo-form .input-wrap {
    width: 100%;
}

.floating-mo-form input[type="text"], .floating-mo-form select {
    height: 40px;
    width: 33.3%;
    border: none;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.80);
    display: flex;
    box-sizing: border-box;
    padding: 8px 10px;
    align-items: center;
    color: #111;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: -0.5px;
}

.floating-mo-form input[type="text"]::placeholder, .floating-mo-form select {
    color: rgba(10, 24, 69, 0.50);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: -0.4px;
}

.floating-mo-form.show-form {
    transform: translateY(-48px);
}

.mo-form {
    width: 100%;
}


/* 문의폼 이동 고정 버튼 */
#go-contact {
    height: fit-content;
    position: fixed;
    bottom: 80px;
    right: 20px;
    z-index: 45;
    display: flex;
    box-sizing: border-box;
    padding-right: 12px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 200px;
    background: rgba(255, 255, 255, 0.90);
    overflow: hidden;
    color: #333;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 125%; /* 17.5px */
    letter-spacing: -0.35px;
    white-space: nowrap;
    cursor: pointer;
}

#go-contact:hover {
    background: #FFF;
}


/* 개인정보처리방침 */
.agree-modal {
    position: fixed;
    top: 2.5vh;
    width: 1080px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    cursor: pointer;
    z-index: 60;
    box-sizing: border-box;
    padding: 0 48px;
    padding-top: 60px !important;
    padding-bottom: 20px !important;
    justify-content: initial !important;
    height: 95vh;
    gap: 20px !important;
    display: none;
}

.agree-close {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: end;
    cursor: pointer;
}

.agree-close > svg {
    width: 48px;
    height: 48px;
    background: rgba(0, 0, 0, 0.80);
    padding: 6.4px 6.4px 5.6px 5.6px;
}

.agree-close>svg:hover {
    background: #000;
    transition: 0.3s;
}

.agree-modal>.title {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.p24 {
    color: #111;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px; /* 141.667% */
    letter-spacing: -0.6px;
}

.p40 {
    color:  #111;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 52px; /* 130% */
    letter-spacing: -1px;
}

.content-div {
    margin-top: 20px;
    height: 81%;
    overflow: hidden;
}

.agree-modal>.content-div>.content {
    height: 100%;
    overflow: scroll;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.4px;
    color: #505050;
    padding-bottom: 20px;
}

.agree-logo {
    width: 150px;
}

.mo-tit {
    display: none;
}

.modal-bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.3;
    z-index: 50;
}

.normal {
    font-weight: 400 !important;
}

.bold {
    font-weight: 700 !important;
}

.semibold {
    font-weight: 600 !important;
}

.bold-g {
    font-family: "Gmarket Sans";
}

.primary {
    color: #562A06 !important;
}

.o {
    color: #F0832C !important;
}

.w {
    color: #FFF !important;
}

.sub {
    color: #505050 !important;
}

.y {
    color: #FFDC6A !important;
}

.st-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    z-index: 5;
}

.st-tit {
    color: #4F2323;
    text-align: center;
    font-family: "Gmarket Sans";
    font-size: 64px;
    line-height: 125%; /* 80px */
    letter-spacing: -1.6px;
    position: relative;
    z-index: 5;
}

.st-sub-tit {
    color: #4F2323;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    line-height: 145%; /* 43.5px */
    letter-spacing: -0.75px;
    position: relative;
    z-index: 5;
}

.justify-start {
    justify-content: flex-start !important;
}

.justify-center {
    justify-content: center !important;
}

.justify-end {
    justify-content: flex-end !important;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

/* 900px */
.mi-br {
    display: none;
}

/* 768px */
.ta-br {
    display: none;
}

/* 650px */
.mo-br {
    display: none;
}

/* 480px */
.xs-br {
    display: none;
}

/* 400px */
.xxs-br {
    display: none;
}


@media(max-width: 1400px) {

}

@media(max-width: 1280px) {
    .logo {
        width: 140px;
    }
    #header nav>ul>li {
        font-size: 18px;
        letter-spacing: -0.45px;
    }
    .floating-form {
        gap: 20px;
    }
    .floating-contact {
        gap: 16px;
    }
    .floating-form>p {
        font-size: 20px;
        letter-spacing: -0.5px;
    }
    .floating-contact input[type="text"], select {
        width: 180px;
    }
    .f-btn {
        font-size: 16px;
        letter-spacing: -0.4px;
    }
    .st-tit {
        font-size: 56px;
        letter-spacing: -1.4px;
    }
    .st-sub-tit {
        font-size: 28px;
        letter-spacing: -0.7px;
    }
}

@media(max-width: 1200px) {
    .floating-contact input[type="text"], select {
        width: 165px;
    }
    .agree-modal {
        width: 100%;
        left: 0;
        top: 0;
        min-height: 100vh;
        height: 100%;
        transform: none;
    }
}

@media(max-width: 1100px) {
    .footer-logo {
        width: 185px;
    }
    .footer-container {
        flex-direction: column;
        gap: 20px;
    }
    .input-wrap {
        gap: 4px;
    }
    .floating-contact, .floating-form {
        gap: 12px;
    }
    .floating-contact input[type="text"], select {
        width: 150px;
    }
    select {
        padding: 10.5px 10px;
    }
}

@media(max-width: 1024px) {
    #header {
        height: 56px;
        padding: 8px 12px;
        background: transparent;
        justify-content: space-between;
    }
    #header nav {
        display: none;
    }
    #header .call {
        display: flex;
    }
    .mo-menu-open {
        display: flex;
    }
    .fixed-btn {
        right: 14.5px;
        bottom: 14.5px;
    }
    #floating-container {
        display: none;
    }
    .f-btn {
        padding: 0 40px;
        height: 42px;
    }
    .floating-agree-wrap .round-checkbox {
        width: 30px;
        height: 30px;
    }
    #go-contact {
        bottom: 20px;
        right: 10px;
    }
    footer {
        padding: 60px 0;
    }
}

@media(max-width: 900px) {
    #fixed-contact {
        border-radius: 100px 100px 0 0;
        transform: translateY(70%);
    }
    .fixed-contact-open, .fixed-div {
        display: flex;
    }
    .fixed-form {
        flex-direction: column;
        width: 100%;
        gap: 16px;
    }
    .fixed-flex {
        width: 90%;
        flex-direction: column;
        gap: 16px;
    }
    .fixed-flex>.fixed-flex {
        width: 100%;
        flex-direction: row;
    }
    .fixed-form input[type="text"] {
        width: 100%;
    }
    .fixed-wrap {
        width: 90%;
        justify-content: space-between;
    }
    .fixed-c-btn {
        height: 50px;
        padding: 10px 30px;
    }
    .st-tit {
        font-size: 48px;
        letter-spacing: -1.2px;
    }
    .st-sub-tit {
        font-size: 24px;
        letter-spacing: -0.6px;
    }
    .mi-br {
        display: block;
    }
}

@media(max-width: 768px) {
    .agree-modal {
        padding: 0 20px;
    }
    .ta-br {
        display: block;
    }
}

@media(max-width: 650px) {
    #header {
        height: 60px;
    }
    .logo {
        width: 145px;
    }
    .mo-menu-open {
        top: 11px;
        right: 11px;
    }
    .footer-logo {
        width: 165px;
    }
    .footer-wrap {
        flex-direction: column;
        align-items: center;
    }
    .footer-big-div .footer-div:first-child {
        padding-left: 0;
        border-left: none;
    }
    .footer-big-container {
        padding: 0 16px;
    }
    .fixed-contact-open {
        width: 30px;
        height: 30px;
    }
    .fixed-div>div {
        font-size: 16px;
        letter-spacing: -0.4px;
    }
    .fixed-div>div>svg {
        width: 25px;
        height: 25px;
    }
    .fixed-div>div>span {
        font-size: 18px;
        letter-spacing: -0.45px;
    }
    .fixed-flex, .fixed-wrap {
        width: 100%;
        gap: 12px;
    }
    .fixed-wrap {
        align-items: start;
        flex-direction: column;
    }
    .fixed-c-btn {
        width: 100%;
    }
    .input-wrap {
        gap: 4px;
    }
    .agree-modal {
        gap: 40px !important;
    }
    .agree-modal>.title>.p24 {
        font-size: 20px;
        line-height: 28px; /* 140% */
        letter-spacing: -0.5px;
    }
    .agree-modal>.title>.p40 {
        font-size: 28px;
        line-height: 38px; /* 135.714% */
        letter-spacing: -0.7px;
    }
    .agree-logo {
        width: 120px;
    }
    .st-tit {
        font-size: 40px;
        letter-spacing: -1px;
    }
    .st-sub-tit {
        font-size: 20px;
        letter-spacing: -0.5px;
    }
    .mo-br {
        display: block;
    }
}

@media(max-width: 480px) {
    .st-tit {
        font-size: 32px;
        letter-spacing: -0.8px;
    }
    .st-sub-tit {
        font-size: 18px;
        letter-spacing: -0.45px;
    }
    .xs-br {
        display: block;
    }
    .xs-no-br {
        display: none;
    }
}

@media(max-width: 400px) {
    .xxs-br {
        display: block;
    }
}

@media(max-width: 370px) {
    .f-btn {
        padding: 0 32px;
    }
}
