#contact {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 120px 0;
    justify-content: center;
    align-items: center;
    background: url(../img/contact-bg.png);
    background-position: center center !important;
    background-size: cover !important;
    position: relative;
    overflow: hidden;
}

.contact-container {
    display: flex;
    max-width: 1300px;
    width: 90%;
    justify-content: space-between;
    align-items: flex-start;
}

.contact-left {
    width: calc(100% - 760px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.contact-left-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.contact-logo {
    width: 155px;
}

.contact-left-txt {
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 140%; /* 28px */
    letter-spacing: -0.5px;
    word-break: keep-all;
}

.contact-form {
    width: 720px;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #111;
    background: #F0F1F0;
}

.contact-inner {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    border: 1px solid #111;
}

