.btn-sm {
    font-size: 14px;
    border-radius: .1875rem;
    padding: 5px 15px;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn-primary {
    background-color: #f96332;
    color: #FFFFFF;
}
.float-right {
    float: right!important;
}
.page .search-wrap label{
    font-size: 1em;
    margin-bottom: 5px;
    color: #213350;
    display: inline-block;
}
.border {
    border: 1px solid #dee2e6!important;
}
.custom-select-sm {
    height: calc(1.8125rem + 2px);
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: .5rem;
    font-size: .875rem;
}
.custom-select, .form-control {
    display: inline-block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.flatpickr-input[readonly] {
    cursor: pointer;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #e3e3e3;
    color: #888;
    cursor: not-allowed;
}
.form-control:disabled, .form-control[readonly] {
    background-color: #e9ecef;
    opacity: 1;
}

#etc-mo{
    display: none;
}
#etc-pc{
    display: flex;
}

.btn_fixed_top2{
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}


.d-none .row > div,
.d-none .row > div:nth-of-type(2),
.d-none .row > div:nth-of-type(3),
.d-none .row > div:nth-of-type(4){
    max-width: 20%;
}
.row > div:nth-of-type(5){
  
}
.d-none .row{
    display: flex;
    flex-wrap: nowrap;
}

.scroll-msg {
    display: block;
    text-align: right;
    font-size: 14px;
    color: rgba(33,51,80,0.6);
}
.scroll-msg > i{
    margin-left: 2px;
}

.f-left {
    display: flex;
    float:left;
    width: 100%;
}

.f-left > div{
    width: 100%;
}

.custom-select:hover, 
.form-control:hover{
    border: 1px solid #6C93CA;
}

.position-relative {
    position: relative!important;
}
.position-absolute {
    position: absolute!important;
}
.w-75 {
    width: 75%!important;
}
img {
    max-width: 100%;
    border-radius: .1875rem;
}
.text-center {
    text-align: center!important;
}
.m-auto {
    margin: auto!important;
}

.search-wrap .tit{
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 8px;
}

.button4 {
    background-color: white;
    color: #5D6369;
    border: 1px solid #CED4DA;
}
.writer-ip{
    color: rgb(255, 109, 93, 0.85);
    cursor: pointer;
}
.writer-ip:hover{
    color: rgb(255, 109, 93, 1);
}


.ip-modal-container{
    position: fixed;
    top: 10%;
    width: 800px;
    left: calc(50% - 400px);
    background: #fff;
    z-index: 10001;
    border-radius: 15px;
    overflow: hidden;
    display: none;
}
.ip-modal-container .ip-table{
    width: 100%;
    margin: 0px;
    height: 450px;
    overflow-y: scroll;
}
.ip-modal-container .ip-table table{
    width: 100%;
}
.ip-modal-container .ip-table th{
    font-size: 13px;
    font-weight: 500;
    padding: 8px 2px;
    color: rgba(33, 51, 80, 0.8);
    text-align:center;
}

.ip-modal-container .ip-table tr{
    border-bottom: 1px solid #dee2e6;
}

.ip-modal-container .ip-table td{
    font-size:13px;
    text-align: center;
    padding: 2px 4px;
    height: 40px;
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.75);

}
.ip-modal-container .ip-del{
    cursor: pointer;
    font-size: 12px;
    border: 1px solid #FFC1BA;
    padding: 5px 4px;
    border-radius: 4px;
    color: rgb(255, 109, 93, 0.85);
    font-weight: 500;

}

.ip-modal-container .ip-del:hover{
    background-color: #FFF2F0;
    border: 1px solid #FFC1BA;
}

.exel-modal-container .body input[type=file]{
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    padding: 6px 12px;
    border-radius: 8px;
}
.exel-modal-container .body .label-name{
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 10px;
}

.exel-modal-container .body .state{
    position: absolute;
    top: 56%;
    left: calc(50% - 75px);
    background: #00000090;
    color: #fff;
    width: 150px;
    text-align: center;
    font-size: 18px;
    padding: 8px 0;
    border-radius: 8px;
    display: none;
}

/*
.button {
    font-weight: 200;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    font-size: 15px;
    border-radius: 0.1875rem;
    padding: 7.5px 15px;
}*/
.modal-dialog .table th{
    font-size: 17px !important;
}
.modal-dialog .table td{
    font-size: 15px;
    white-space: nowrap;
}

.modal-textarea {
    height: 100px !important;
    resize: none;
}

@media (max-width: 991px){
    #etc-mo{
        display: flex;
    }
    #etc-pc{
        display: none;
    }
    .search-wrap{
        display:none;
    }
}
@media (min-width: 992px){
    .modal-lg, .modal-xl {
        max-width: 800px;
    }
}
@media (min-width: 768px){
    .d-md-block {
        display: block!important;
    }
    .col-md-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
    .mt-md-auto, .my-md-auto {
        margin-top: auto!important;
    }
    .pt-md-1, .py-md-1 {
        padding: 0.8em 0 !important;
    }
}
