
.content-box-wrap .box .page-header{
    padding: 15px 15px !important;

}
.content-box-wrap .box{
    padding-bottom: 15px;
    max-width: 800px;
}
.form-wrap{
    padding: 15px 15px 10px;
    max-width: 420px;
    width: 100%;
}
.input-wrap{
    margin-bottom: 15px;
}
.input-wrap .label-name{
    font-size: 1em;
    margin-bottom: 5px;
    color: #9a9a9a;
}
.form-control {
    padding: 10px 18px;
    background-color: transparent;
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    color: #2c2c2c;
    line-height: normal;
    height: auto;
    font-size: .8571em;
    transition: color .3s ease-in-out,border-color .3s ease-in-out,background-color .3s ease-in-out;
    box-shadow: none;
    display: block;
    width: 100%;
}
.submit {
    background-color: #f96332;
    color: #fff;
    border: none;
    font-size: 1.2em;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 3px;
    float: left;
}
.btn-wrap{
    /* padding: 0 15px; */
    width: 100%;
    margin-top: 80px;
}
.go-back {
    background-color: #f96332;
    color: #fff;
    border: none;
    font-size: 1.2em;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 3px;
    float: right;
}
hr{
    display: block !important;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}
small{
    color: #9a9a9a;
    font-weight: 300;
    font-size: 1em;
    margin-top: 5px;
    display: inline-block;
}
label {
    font-size: .9em;
    margin: 5px 0;
    color: #9a9a9a;
}
input[type=file]{
    max-width: 300px;
}
.img-preview{
    margin-top: 10px;
    display: flex;
}
.img-preview img{
    max-width: 40%;
}
select{
    width: 150px;
    padding: 8px 5px;
}

.addr-wrap {
    display: flex;
    gap: 10px;
    align-items: center;
}

.getLatLng {
    width: fit-content;
    box-sizing: border-box;
    padding: 10px 20px;
    border-radius: 12px;
    border: none;
    background: #0eb1c9;
    color: #FFF;
    text-align: center;
    font-size: 12px;
    line-height: 18px; /* 150% */
    letter-spacing: -0.3px;
    cursor: pointer;
    white-space: nowrap;
}

.img-div {
    max-width: 100px;
    width: 100%;
    max-height: 100px;
    height: 100%;
    margin-right: 30px;
    position: relative;
}

.image {
    width: 100% !important;
    max-width: 100% !important;
}

.delete {
    width: 20px;
    height: 20px;
    position: absolute;
    right: -20px;
    top: 0;
    z-index: 10;
    cursor: pointer;
}

.red {
    color: #EF626A;
}

textarea.form-control {
    height: 300px;
    resize: none;
}

@media (max-width: 768px){
    .img-preview img{
        max-width: 90%;
    }
}
