

.content-box-wrap .box{
    padding-bottom: 15px;
    max-width: 800px;
}
.form-wrap{
    padding: 15px 15px 10px;
    max-width: 420px;
    width: 100%;
}
.input-wrap{
    margin-bottom: 20px;
    font-size: 14px;
}
.input-wrap .label-name, .input-wrap label{
    font-size: 14px;
    color: #213350;
    margin-bottom: 8px;
}
.form-control {
    display: block;
    width: 100%;
}
/*
.form-control {
    padding: 10px 18px;
    background-color: transparent;
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    color: #2c2c2c;
    line-height: normal;
    height: auto;
    font-size: .8571em;
    transition: color .3s ease-in-out,border-color .3s ease-in-out,background-color .3s ease-in-out;
    box-shadow: none;
    display: block;
    width: 100%;
}
*/
.btn-wrap, .col-2{   
    display: flex;
    width: 100%;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
}
.btn-wrap {
    margin-top: 40px;
}

.col-2 .input-wrap{
    width: 100%;
}
/*
.submit, .go-back {
    display: inline-block;
    min-width: 100px;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 10px 16px;
    border-radius: 8px;
    cursor: pointer;
}

.submit {
    color:#fff;
    background-color: #6C93CA !important;   
}

.submit:hover{
    color: #fff;
    background-color: #3863A9;
}

.go-back {
    color: #999;
    background-color: #fff;
    border: 1px solid #ddd;
}

.go-back:hover{
    color: #767676;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
}
*/
hr{
    display: block !important;
    margin-top: 0px;
    margin-bottom: 20px;
    border: 0;
    background-color: rgb(108, 147, 202, 0.4) !important;
    border-top: 1px solid rgb(108, 147, 202, 0.4) !important;
}

.checkbox-wrap{
    display: flex;
    gap: 6px;
    flex-direction: row;
    align-items: center;
    margin-top: 0.3rem;
}

.checkbox-wrap label{
    margin-bottom: 0 !important;
}

small{
    color: #4873B8;
    font-weight: 300;
    font-size: 0.9em;
    margin-top: 8px;
    display: inline-block;
}
small ~ small{
    margin-top: 0px;
}

input[type=file]{
    max-width: 300px;
}

input:hover, textarea:hover, select:hover{
    background-color: #f5f5f5 !important;
}

.img-preview{
    margin-top: 10px;
    display: flex;
}
.img-preview img{
    max-width: 40%;
}
select{
    width: 150px;
    padding: 8px 5px;
}

.addr-wrap {
    display: flex;
    gap: 10px;
    align-items: center;
}

.getLatLng {
    width: fit-content;
    box-sizing: border-box;
    padding: 10px 20px;
    border-radius: 12px;
    border: none;
    background: #6C93CA;
    color: #FFF;
    text-align: center;
    font-size: 12px;
    line-height: 18px; /* 150% */
    letter-spacing: -0.3px;
    cursor: pointer;
    white-space: nowrap;
}

.img-div {
    max-width: 100px;
    width: 100%;
    max-height: 100px;
    height: 100%;
    margin-right: 30px;
    position: relative;
}

.image {
    width: 100% !important;
    max-width: 100% !important;
}

.delete {
    width: 20px;
    height: 20px;
    position: absolute;
    right: -20px;
    top: 0;
    z-index: 10;
    cursor: pointer;
}

.red {
    color: #EF626A;
}

textarea.form-control {
    height: 300px;
    resize: none;
}

@media (max-width: 768px){
    .img-preview img{
        max-width: 90%;
    }

    .col-2{
        flex-direction: column;
        gap: 20px;
    }
}
