/* admin menu */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Pretendard", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    letter-spacing: -0.25px;
    background-color: #E9F0FA;
}
.adm_logo {
    width: 100px;
}
.gnb-container .sidebar{
    position: fixed;
    top: 0;
    height: 100%;
    bottom: 0;
    width: 250px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    left: 0;
    background-color: #fff;
    /* z-index: 1030; */
    box-shadow: 2px 0px 8px rgba(0,0,0,0.04);
}
.gnb-container .sidebar .sidebar-wrapper{
    position: relative;
    overflow: auto;
    width: 100%;
    height: 100%;
    z-index: 4;
    padding-bottom: 0px;
}

.gnb-container .sidebar .brand-wrapper{
    padding: 19px 16px;
    background: #FFF;
}
.gnb-container .sidebar .brand{
    font-weight: 500;
    font-size: 26px;
    letter-spacing: -1px;
    color:rgba(33,51,80,1);
    text-decoration: none;

}
.gnb-container .sidebar .brand:hover{
    color:rgba(33,51,80,0.8);
}


.gnb-container .sidebar .nav{
    display: block;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0px 8px;
    gap: 2px;
    list-style: none;
}

.gnb-container .sidebar .nav li{
    width: 100%;
}

.gnb-container .sidebar .nav li a,
.gnb-container .sidebar .nav li > span{
    color: rgba(33,51,80,0.8);
    display: block;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
    cursor: pointer;
    padding: 8px 10px;
    box-sizing: border-box;
    line-height: 1.625rem;
    border-radius: 8px;
}
.gnb-container .sidebar .nav p .today-new {
    display: inline;
    border-radius: 100%;
    font-size: 16px;
    color: #6C93CA;
    margin-left: 6px;
}

.gnb-container .sidebar .nav li.active .menu{
    background-color: #4873B8;
    border-radius: 8px;
}

.gnb-container .sidebar .nav li.active .menu i,
.gnb-container .sidebar .nav li.active .menu p,
.gnb-container .sidebar .nav li:hover.active .menu i,
.gnb-container .sidebar .nav li:hover.active .menu p{
    color: #FFF;
}

.gnb-container .sidebar .nav li.active .menu .today-new,
.gnb-container .sidebar .nav li:hover.active .menu .today-new{
    color: rgba(255,255,255,0.6);
}

.gnb-container .sidebar .nav li:hover,
.gnb-container .sidebar .nav li:hover p,
.gnb-container .sidebar .nav li:hover a,
.gnb-container .sidebar .nav li:hover i{
    color: #4873B8;
}
.gnb-container .sidebar .nav li .toggle{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}
.gnb-container .sidebar .nav li.toggle-open .toggle{
    transform: rotate(180deg);
    top: 11px;
}

.gnb-container .sidebar .nav li span p,
.gnb-container .sidebar .nav li a p{
    font-size: 16px;
}
.gnb-container .sidebar .nav i:nth-of-type(1){
    float: left;
    line-height: 30px;
    margin-right: 8px;
    font-size: 16px;
    width: 25px;
    color: rgba(33,51,80,0.7);
    text-align: center;
}

.gnb-container .sidebar .nav i:nth-of-type(2){
    line-height: 18px;
    font-size: 12px;
    color: rgba(33,51,80,0.6);
}
.gnb-container .sidebar .nav p{
    margin: 0;
    line-height: 30px;
    position: relative;
    display: block;
    height: auto;
    white-space: nowrap;
    font-size: 14px;
}
.gnb-container .sidebar p.manager-info{
    font-size: 14px;
    color: rgb(33, 51, 80, 0.6);
}

.gnb-container .sidebar .nav li .submenu{
    display: none;
}
.gnb-container .sidebar .nav li .submenu a{
    font-size: 16px;
    color: rgba(33,51,80,0.8);
    padding: 10px 4px 10px 48px;
}
/*.gnb-container .sidebar .nav li .submenu a:first-child{
    margin-top: 8px;
}*/

.gnb-container .sidebar .nav li .submenu a:hover{
    color: #4873B8;
}

.gnb-container .sidebar .line{
    display: block;
    width: 100%;
    height: 1px;
    background: #9ad2da;
    margin: 1.45em 0;
}
.gnb-container .sidebar .pay-menu{
    padding: 0 20px;
    /*margin: 0 0 0 10px !important;*/
}

.gnb-container .service-center-wrap{
    background: #fff;
    width: 100%;
    padding: 0px 8px;
    bottom: 0;
    text-align: center;
    z-index: 5;
    margin-top: 20px;
    border-top: 1px solid rgba(72,115,184,0.2);
}

.gnb-container .service-center-wrap .text{
    font-size:14px;
    word-break: keep-all;
    margin-bottom: 20px;
}
.gnb-container .service-center-wrap a{
    width: 100%;
    display: inline-block;
    color: rgba(33,51,80,0.7);
    font-weight: 400;
    padding: 12px;
    border-radius: 5px;
    text-align: left;
    font-size: 16px;
}

.gnb-container .service-center-wrap a:hover{
    color: #4873B8;
}

.gnb-container .service-center-wrap a i{
    margin-right: 12px;
}


/* 컨텐츠 영역 */
#wrapper{
    position: relative;
    float: right;
    width: calc(100% - 250px);
    transition: all .5s cubic-bezier(.685,.0473,.346,1);
}
/* 상단 영역 */
.container
.container-fluid{
    width: 100%;
    padding-right: 12px;
    padding-left: 12px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
}
.navbar{
    width: 100%;
    z-index: 1029;
    padding: 0;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(72,115,184,0.2);
}

.navbar .navbar-wrapper {
    display: inline-flex;
    align-items: center;
}
.navbar .navbar-collapse{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navbar .navbar-collapse .navbar-nav{
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    color: #fff;;
}
.navbar .navbar-collapse .navbar-nav .nav-item{
    text-transform: uppercase;
    padding: .3rem .5rem;
    line-height: 1.3rem;
    box-sizing: border-box;
    cursor: pointer;
    color: #fff;
}
.navbar .navbar-collapse .navbar-nav .nav-item a{
    color:#6C93CA;
    font-size: 14px;
}
.navbar .navbar-collapse .navbar-nav .nav-item:hover a{
    color: #4873B8;
}

.top_btn-wrap{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

/* mobile sidebar button */
.navbar-toggler{
    display: none;
}
.navbar .navbar-toggler{
    width: 37px;
    height: 27px;
    vertical-align: middle;
    outline: 0;
    cursor: pointer;
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    /* background-color: transparent; */
    /* border: 1px solid transparent; */
    border-radius: .25rem;
    margin-right: 15px;
}
.sidebar-open .sidebar {
    -webkit-transform: translate3d(0px,0,0);
    transform: translate3d(0px,0,0);
}
.sidebar-open #wrapper{
    width: calc(100% - 260px);
}
.sidebar-open .bar1{
    transform: rotate(45deg);
    top: 8px;
    transition: all 0.3s;
}
.sidebar-open .bar2{
    visibility: hidden;
}
.sidebar-open .bar3{
    transform: rotate(-45deg);
    bottom: 8px;
    transition: all 0.3s;
}


.main-wrapper .panel-header{
    padding: 20px;
    position: relative;
    overflow: hidden;
}
#container{
    padding: 50px 40px 30px;
    min-height: calc(100vh - 123px);
    z-index: 10;
    position: relative;
}
.content-box-wrap{
    /*display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;*/
    margin-right: -15px;
}
.content-box-wrap .box{
    border: 0;
    border-radius: .1875rem;
    display: inline-block;
    position: relative;
    width: 100%;
    font-size: 14px;
    margin-bottom: 20px;
    /*box-shadow: 0 1px 15px 1px rgb(39 39 39 / 10%);*/
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
}
.content-box-wrap .box .page-header{
    border: 0;
}
.content-box-wrap .box .page-header .page-title{
    font-size: 1.8em;
    line-height: 1.45em;
    color: #213350;
    font-weight: 500;
    position: relative;
    margin-bottom: 1.25rem;
}
.content-box-wrap .box .page-header .page-title small,
.content-box-wrap .box .page-header .page-title .text-muted{
    color: #6C93CA !important;
}
.content-box-wrap .box .page-header .page-title .total{
    font-size: 0.8em;
    font-weight: 400;
}

.card-body {
    padding: 1rem 0px !important;
}
/* tab */
.tab-container{
    position: relative;
}
.tab-wrap{
    display: inline-flex;
    flex-direction: row;
    gap:0;
    background-color: #D0DEF2;
    border-radius: 8px;
    width: 600px;
    overflow-x: scroll;
    white-space: nowrap;
}
.tab-item{
    padding: 8px 20px;
    display: inline-block;
    border-radius: 8px;
    font-size: 16px;
    color: #4873B8;
    cursor: pointer;
    font-weight: 500;
}
.tab-item:hover{
    color: #1E51A4;;
}
.tab-item.active{
    background: #4873B8;
    color: #fff;
    font-weight: 500;
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.10);)
}


/* button css */

.btn_fixed_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn_fixed_top.fe{
    justify-content: flex-end !important;
}

.btn, .submit {
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
}

.btn, .navbar .navbar-nav>a.btn {
    font-weight: 500;
    border: none;
    background-color: #fff;
}

.btn-default {
    color: #4873B8;
    background-color: #fff;
    border: 1px solid rgba(108, 147, 202, 0.7);
}
.btn-default:hover{
    color: #3863A9 !important;
    background-color: #F0F4FA;
    border: 1px solid rgba(108, 147, 202, 1);
}

.btn-primary, .submit{
    background-color: #6C93CA !important;
    color:#fff;
}
.btn-primary:hover, .submit:hover{
    background-color: #3863A9 !important;
}

.btn_01{
    float: right;
    color: #6C93CA;
}


.submit {
    color:#fff;
    background-color: #6C93CA !important;
}

.submit:hover{
    color: #fff;
    background-color: #3863A9;
}

.go-back {
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 10px 16px;
    border-radius: 8px;
    cursor: pointer;
    color: #999;
    background-color: #fff;
    border: 1px solid #ddd;
}

.go-back:hover{
    color: #767676;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
}

.btn-wrap .go-back, .btn-wrap .submit {
    min-width: 100px;
}

.btn_01:hover{
    color: #4873B8;
    background: #fff;
}

.btn-danger {
    color: rgb(255, 109, 93);
    border: 1px solid #FFC1BA;
}

.btn-danger:hover {
    color: rgb(255, 109, 93);
    background-color: #FFF2F0;
    border: 1px solid #FFC1BA;
}

.btn:focus{
    outline: none !important;
    box-shadow: none !important;
}

.btn-sm{
    font-size: 14px;
    border-radius: .1875rem;
    padding: 5px 15px;
    line-height: 1.5em;
    border:none;
}


/* page body */
.page-body {
    padding: 15px 15px 10px;
}
.text-center{
    text-align: center !important;
}
.bg-light {
    background-color: #f8f9fa!important;
}

/* search css */

.search-wrap{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border: 1px solid #dee2e6 !important;
    background-color: #fff;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 8px;
}

.search-wrap.single{
    overflow: hidden;
    padding: 0 !important;
}

.search-wrap.single form{
    display: flex !important;
    flex-direction: row;
}

.search-wrap.single input[type=text] {
    border-radius: 8px 0px 0px 8px;
    border: 1px solid rgba(108, 147, 202, 0.7);
    border-right: 0px;
}
.search-wrap.single .btn{
    border-radius: 0px 8px 8px 0px;
}

.search-wrap input[type=text], .search-wrap select{
    height: 40px;
}

.search-wrap .btn {
    border-radius: 4px;
    padding-left: 16px;
    padding-right: 15px;
    font-size: 14px;
    height: 40px;
    width: 110px;
}
.search-wrap .position-absolute i{
    color: #999;
}
.search-wrap .position-absolute i:hover{
    color: #767676;
}

/* table layout */
.table-responsive {
    overflow: auto;
    /*padding-bottom: 10px;*/
    font-size: 14px;
}
table{
    border-collapse: collapse;
}

table

.table{
    /*width: 100%;*/
    border-radius: 8px;
    overflow: hidden;
}


/*checkbox*/
.checkbox-list {
    position: absolute;
    opacity: 0;
}
.checkbox-list + label,
.checkbox-list ~ label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding: 0;
    border-radius: 4px;
    width:24px;
    height:24px;
    background: #fff;
    border: 1px solid #ddd;
    overflow: hidden;
}
.checkbox-list + label:before {
    content: "";
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
}
.checkbox-list:hover + label:before {
    position: absolute;
    background: #f5f5f5;
    width:24px;
    height:24px;
    top: 0;
    left: 0;
    border-radius: 4px;

}
/*  .checkbox-list:focus + label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
  }*/
.checkbox-list:checked + label:before {
    position: absolute;
    background: #4873B8;
    width: 24px;
    height: 24px;
    top: 0;
    left: 0;
    border-radius: 2px;
}
.checkbox-list:disabled + label {
    color: #b8b8b8;
    cursor: auto;
}
.checkbox-list:disabled + label:before {
    box-shadow: none;
    background: #ddd;
}
.checkbox-list:checked + label:after {
    content: "";
    position: absolute;
    left: 6px;
    top: 10px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
    transform: rotate(45deg);
}


.border-bottom {
    border-bottom: 1px solid #dee2e6!important;
}


/* table css */
.table {
    border-radius: 8px;
    overflow: hidden;
}
.table-responsive tbody tr:hover{
    background-color: #D0DEF2;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 2px 7px;
    height: 50px;
    vertical-align: middle;
    color: rgba(0,0,0,0.75);
}

.table>tbody>tr>td .btn{
    height: 30px;
    vertical-align: middle;
    font-size: 1em;
    display: inline-flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}
.table>tbody>tr>td .btn:first-child{
    margin-right: 4px;
}

.table>thead>tr>th {
    border-bottom-width: 1px;
    font-size: 1em;
    font-weight: 600;
    color:rgba(33, 51, 80, 0.8);
    background-color: #D0DEF2;
    border: 0;
}

.table tbody {
    background-color: #fff;
}
.table tbody tr {
    background-color: rgba(216, 227, 243, 0);
}

.table tbody tr:hover{
    background-color: rgba(216, 227, 243, 0.2);
}
.table td{
    border-top: 1px solid #dee2e6;
}
.table button {
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    color: #4873B8;
    background-color: #fff;
    border: 1px solid rgba(108, 147, 202, 0.7);
}
.table button:hover{
    color: #3863A9 !important;
    background-color: #F0F4FA;
    border: 1px solid rgba(108, 147, 202, 1);
}

.table .link{
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    color: #4873B8;
    background-color: #fff;
    border: 1px solid rgba(108, 147, 202, 0.7);
}
.table .link:hover{
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    color: #4873B8;
    background-color: #fff;
    border: 1px solid rgba(108, 147, 202, 0.7);
}

/* pagination */
.pagination {
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
    justify-content: center;
}
.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}
.pagination .page-link {
    color: #333;
}
.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #3863A9;
    background-color: #fff;
    border: 1px solid #dee2e6;
    font-size: 1em;
    font-weight: 400;
}

.page-link:hover{
    background-color: rgba(216, 227, 243, 0.2);
}


/* modal css */

.modal-bg{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: #000;
    top: 0;
    left: 0;
    opacity: 0.5;
    display: none;
}
.modal-public{
    position: fixed;
    top: 10%;
    width: 400px;
    left: calc(50% - 200px);
    background: #fff;
    z-index: 10001;
    border-radius: 12px;
    overflow: hidden;
    display: none;
}
.modal-public .head-wrap{
    text-align: center;
    position: relative;
    padding: 15px;
    font-size: 18px;
    font-weight: 600;
    background-color: #fff;
    border-bottom: 1px solid #efefef;
    color: #213350;
}
.modal-public .head-wrap i{
    cursor: pointer;
    font-size: 25px;
    position: absolute;
    top: 17px;
    right: 25px;
    color: rgb(33, 51, 80, 0.55);
}
.modal-public .head-wrap i:hover{
    color: rgb(33, 51, 80, 1);
}
.modal-public .body{
    padding: 15px;
}
.modal-public .body .input-wrap{
    margin-bottom: 10px;
}

.modal-public .body .label{
    font-size: 14px;
    color: #213350;
}

.modal-public textarea, select, input[type=text],input[type=date],input[type=number],input[type=password],input[type=email],input[type=search],input[type=date] {
    display: inline-block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 14px;
}

/* 상담내역 모달 */
.modal-container table {
    border: 1px solid #dee2e6;
    font-size: 13px;
    overflow: auto !important;
}
.modal-container table>thead>tr>th, .modal-public table>tbody>tr>td {
    height: 40px;
}

.modal-container table>thead>tr>th {
    background-color: #fff;
    border-bottom: 1px solid rgba(33, 51, 80, 0.2) !important;
}

.modal-container table>tbody>tr:last-child td{
    border-bottom: 1px solid rgba(33, 51, 80, 0.2) !important;
}
textarea::placeholder, input[type=text]::placeholder, input[type=email]::placeholder{
    color: #999;
}


input:hover, textarea:hover, select:hover{
    background-color: rgba(216, 227, 243, 0.2);
}

input:focus, .form-control:focus{
    box-shadow: none !important;
}

.form-control{
    font-size: 14px !important;
}

.modal-public .label {
    font-size: 14px;
    margin-bottom: 5px;
    color: #213350;
    display: inline-block;
}
.modal-public input[readonly] {
    cursor: pointer;
}
.modal-public input[disabled], .modal-public input[readonly], .modal-public input[disabled]{
    background-color: #e3e3e3;
    color: #888;
    cursor: not-allowed;
}
.modal-public input:disabled, .modal-public input[readonly] {
    background-color: #e9ecef;
    opacity: 1;
}

.modal-public .body .tip{
    display: none;
    font-size: 12px;
    margin-top: 10px;
    color: #6C93CA;
}
.modal-public .body .state{
    position: absolute;
    top: 56%;
    left: calc(50% - 75px);
    background: #00000090;
    color: #fff;
    width: 150px;
    text-align: center;
    font-size: 18px;
    padding: 8px 0;
    border-radius: 8px;
    display: none;
}
.modal-public .table {
    border-radius: 4px;
    overflow: hidden;
}
.modal-public .submit{
    margin-top: 8px;
    padding: 10px;
    width: 100%;
}

/* modal popup */
.modal-content{
    font-size: 1.2em;
}
.modal-content label{
    margin-bottom: 5px;
}
.modal-content textarea{
    width: 100%;
    height: 150px;
    font-size: 1.5em;
    line-height: 1.5em;
    resize: none;
    padding: 0 10px;
}

#thumb-preview {
    width: 400px;
    height: 400px
}
#detail-preview {
    width: 1000px;
}

#madal_form {
    width: 100%;
    margin: 0 auto;
}

.justify-end {
    display: flex;
    justify-content: flex-end;
}

.modal-backdrop {
    display: none !important;
}

.input-wrap .label-name {
    font-size: 1em;
    margin-bottom: 5px;
    color: #9a9a9a;
    font-weight: 500;
}
.input-wrap .val{
    font-size: 16px;
}

.page-header>.tab-wrap {
    width: auto !important;
}

@media screen and (max-width: 991px){
    .sidebar-open #wrapper {
        width: 100%;
        -webkit-transform: translate3d(300px, 0, 0);
    }
    .sidebar-wrapper{
        box-shadow: 0 0 0 0 !important;
    }
    .gnb-container .sidebar .nav{
        margin-top: 15px;
    }

    .main-wrapper .navbar{
        padding: 15px 0;
    }

    .sidebar, .bootstrap-navbar {
        position: fixed;
        display: block;
        top: 0;
        height: 100%;
        width: 300px;
        right: auto;
        left: 0;
        z-index: 1032;
        visibility: visible;
        overflow-y: visible;
        padding: 0;
        transition: all .5s cubic-bezier(.685,.0473,.346,1);
        -webkit-transform: translate3d(-300px,0,0);
        transform: translate3d(-300px,0,0);
    }
    .gnb-container .sidebar .sidebar-wrapper{

    }
    .gnb-container .sidebar .nav li a{
        padding: 5px 10px;
        font-size: 12px;
    }

    .gnb-container .service-center-wrap .tit, .gnb-container .service-center-wrap .text{
        display: none;
    }
    #wrapper{
        width: 100%;
    }
    #container{
        padding: 30px 16px;
    }

    .content-box-wrap{
        width:100%;
    }

    #container .list-container{
        justify-content: space-around;
        gap: 2%;
    }

    .main-wrapper .panel-header{
        padding: 0 0;
    }
    .navbar-toggler{
        display: block;
        transition: all 2s;

    }
    .navbar .navbar-collapse{
        flex-basis: auto;
    }
    .navbar-toggler-bar {
        display: block;
        position: relative;
        width: 22px;
        height: 1px;
        border-radius: 1px;
        background: #4873B8;
    }
    .navbar-toggler-bar+.navbar-toggler-bar {
        margin-top: 7px;
    }
    .navbar-toggler-bar.bar2 {
        width: 17px;
        transition: width .2s linear;
    }
    .bar1, .bar2, .bar3 {
        outline: 1px solid transparent;
    }
    .bar2 {
        opacity: 1;
        margin: 7px 0;
    }
    .main-wrapper .navbar .navbar-collapse .navbar-nav .nav-item a{
        font-size: 1em;
    }
    .modal-content {
        font-size: 0.8em;
    }
    .top_btn-wrap {
        flex-wrap: wrap;
        gap: 4px;
    }
    .btn{
        padding: 8px 8px;
    }
    .btn-wrap .go-back, .btn-wrap .submit{
        min-width: 80px;
    }
    .tab-item{
        font-size: 14px;
        padding: 8px 12px;
    }
}
