.tab{
    border: 1px solid #0eb1c9;
    padding: 8px 15px;
    display: inline-block;
    margin-bottom: 20px;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    font-weight: 500;
}
.tab.active{
    background: #0eb1c9;
    color: #fff;
    font-weight: 500;
}
#config_form_b{
    display: none;
}
textarea.form-control {
    height: 300px;
    resize: none;
}
textarea.body {
    height: 150px;
    resize: none;
}
