#wrapper{
    position: relative;
    padding: 0;
}
.content-box-wrap .box{
    position: unset;
}
select{
    width: 200px;
}

.calender-wrap{
    width: 100%;
    margin-top: 25px;
}

.calender-wrap .calender-area {
    height: auto;
    margin-right: auto;
    border-radius:5px;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 80px;
    min-height: 1073px;
}
.calender-wrap .Calendar {
    text-align: center;
    width: 100%;
    border-collapse: collapse;
}
.calender-wrap td {
    padding: 4px 10px 8px;
    box-sizing: border-box;
    text-align: center;
}
.calender-wrap tbody td{
    height: 130px;
    vertical-align: top;
    border: 1px solid #eee;
    border-radius: 4px;
    width: 14%;
}
.calender-wrap .Calendar .thead td{
    padding: 0px 0 20px;
    text-align: left;
}
.calender-wrap .Calendar .thead .date-wrap{
    color: #1E51A4;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: inline-block;
}
.date-btn-wrap{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
}
.date-btn-wrap svg{
    width: 30px;
    height: 30px;
}
.date-btn-wrap .calendar-arrow{
    fill: #6C93CA;
}
.date-btn-wrap .calendar-arrow:hover{
    fill: #4873B8;
}
.calender-wrap .Calendar .btn-wrap{
    float: right;
}
.calender-wrap .Calendar .btn{
    width: 16px;
    margin: 0 10px;
    cursor: pointer;
    position: relative;
    top: 4px;
    background: #fff;
}
.calender-wrap .Calendar .week{
    border-radius: 4px;
}
.calender-wrap .Calendar .week td{
    font-size: 16px;
    padding: 7px 0;
    color: #777;
}
.calender-wrap .Calendar .week td:nth-child(1){
    color: #FF6D5D;
}
.calender-wrap .Calendar .week td:nth-laSt-child(1){
    color: rgb(0, 0, 205);
}
.calender-wrap .Calendar .week td:nth-child(1){
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.calender-wrap .Calendar .week td:nth-last-child(1){
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.calender-wrap .Calendar>thead>tr:first-child>td {
    font-size: 1.1em;
    font-weight: bold;
}

.calender-wrap .Calendar>thead>tr:last-child>td {
    font-weight: 500;
}
.calender-wrap .Calendar>tbody>tr>td>p {
    display: block;
    background-color: #fff;
    border: 1px solid #D0DEF2;
    color: #505050;
    padding: 4px 12px;
    border-radius: 4px;
    margin-bottom: 4px;
}
.calender-wrap .Calendar>tbody>tr>td>p:hover{
    background-color: #D8E3F3;
}
.calender-wrap .Calendar>tbody>tr>td>p:nth-last-child(1){
    margin-bottom: 0;
}
.calender-wrap .Calendar>tbody>tr>td>p>.notUse{
    color: #FF6D5D !important;
}
.calender-wrap .Calendar>tbody>tr>td>p>.status{
    margin: 0 0 0 3px;
    padding: 0;
    background: transparent;
    color: #4873B8;;
    font-weight: 500;
}
.calender-wrap .pastDay p,
.calender-wrap .pastDay span{
    color: #767676 !important;
    opacity: 0.5;
}
.calender-wrap .Calendar>tbody>tr>.pastDay>p:hover{
    background-color: #fff !important;
}

.calender-wrap .Calendar>tbody>tr>td .soundOnly{
    display: none;
}
.calender-wrap td span{
    padding: 3px;
    display: inline-block;
}
.calender-wrap .pastDay {
    background-color: rgba(255,255,255,0.2);
    color: #767676;
}
.calender-wrap .today {
    cursor: pointer;
}
.calender-wrap .today > span:nth-of-type(1){
    color: #fff;
    font-weight: 600;
    background-color: #4873B8;
    width: 28px;
    height: 28px;
    display: inline-flex;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 2px;
}
.calender-wrap .futureDay {
    cursor: pointer;
}

.calender-wrap .today,
.calender-wrap .futureDay{
    background-color: rgba(255,255,255,0.75);
}
/*.calender-wrap .today:hover,
.calender-wrap .futureDay:hover{
    color: #3863A9;
    background-color: #D8E3F3;
    overflow: hidden;
}*/
.calender-wrap .futureDay.choiceDay,
.calender-wrap .today.choiceDay {
    background: #0A174E;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.modal-bg{
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    display: none;
}

.modal-container{
    width: 500px;
    background: #fff;
    position: absolute;
    left: calc(50% - 250px);
    top: 50px;
    display: none;
}
.modal-container .all span:nth-child(1){
    margin-right: 15px;
    cursor: pointer;
}

.modal-container .time-wrap{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 16px;
    gap: 16px;
}
.modal-container .time-wrap .item{
    width: 31%;
    position: relative;
}
.modal-container .time-wrap .item.cancel:after{
    content: "";
    position: absolute;
    width: 70%;
    height: 2px;
    background: mediumvioletred;
    top: 10px;
    left: 15%;
    transform: rotate(17deg);
}
.modal-container .time-wrap .item span{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 8px 2px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    border-radius: 4px;
    background: #fff;
    border: 1px solid #6C93CA;
    color: #4873B8;
}
.modal-container .time-wrap .item span:hover{
    border: 1px solid #4873B8;
    color: #1E51A4;
    background-color: #F0F4FA;
}
.modal-container .time> label{
    font-size: 16px;
    padding: 0px 16px;
}
.modal-container label input{
    width: 15px;
    height: 15px;
}
.modal-container .btn-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px 16px;
    gap: 16px;
    margin-top: 30px;
    text-align: center;
}
.modal-container .btn-wrap span{
    width: 100%;
}
.modal-container .btn-wrap .submit{
    border: none;
    outline: none;
    padding: 10px;
    margin-top: 0;
}
.btn-wrap>svg {
    cursor: pointer;
}
.page-header .page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
