.content-box-wrap .box{
    padding-bottom: 15px;
    max-width: 800px;
}
.form-wrap{
    padding: 15px 15px 10px;
    max-width: 420px;
    width: 100%;
}

hr{
    display: block !important;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}
small{
    color: #9a9a9a;
    font-weight: 300;
    font-size: 1em;
    margin-top: 5px;
    display: inline-block;
}
label {
    font-size: .9em;
    margin: 5px 0;
    color: #9a9a9a;
}
input[type=file]{
    max-width: 300px;
}
.img-preview{
    margin-top: 10px;
}
.img-preview img{
    width: 400px;
    height: 400px;
}
.input-wrap .upload-btn{
    border-radius: 7px;
    background: #5A6069;
    width: 150px;
    text-align: center;
    padding: 6px 5px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    color: #FFF;
    font-family: 'Noto Sans KR';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.36px;
}
.upload-wrap input[type=file]{
    display: none;
}
.upload-wrap img{
    width: 20px;
    cursor: pointer;
    margin-left: 15px;
}
.upload-wrap .preview{
    display: block;
    border: 1px solid #eee;
    width: 400px;
    border-radius: 15px;
    margin-bottom: 15px;
}

@media (max-width: 768px){
    .img-preview img{
        max-width: 90%;
    }
}
